{% extends "main.html" %}
{% block content %}
<div class="col-lg-12 text-center">
<h1>ALL CATEGORIES</h1>
<hr>
</div>
<br>
{% for cat in categories %}
	<div class="col-md-6">
	<div class="panel panel-default category_panel">
		<div class="panel-heading text-center category_title">
			<h4>{{cat.name}}</h4>
		</div>
	<div class="cat_body panel-body">
	{% for subcat in subcategories %}
		{% if subcat.cat_id == cat.id %}
		<div class="subcategory">
		<a href = "{{url_for('showSubCategory', category_id = cat.id, subcategory_id = subcat.id )}}">
			{{ subcat.name }}
			<span class="pull-right">{{ subcat.count_items(subcat) }}</span>
		</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>
	<div class="panel-footer text-center category_panel_footer">
		<a href = "{{url_for('showCategory', category_id = cat.id)}}">
			<p>VIEW ALL ({{ cat.count_items(cat) }}) </p>
		</a>
	</div>
	</div>	
	</div>
{% endfor %}
{% endblock %}